# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config ZMK_BLE
	default y

config ZMK_USB
	default y

if SHIELD_FLAME_DONGLE

config ZMK_KEYBOARD_NAME
	default "The Flame Dongle"

endif

if SHIELD_FLAME_LEFT || SHIELD_FLAME_RIGHT

config ZMK_SPLIT
	default y

endif



if SHIELD_FLAME_DONGLE 

config ZMK_SPLIT
	default y

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif
